@import url(fonts.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter medium';
}
body {
    padding: 15px;
    overflow-x: hidden;
    background-color: #0D0D11;
    width: 100%;
    height: 100%;
}
::selection {
    background-color: #3790FF;
}
.wrapper {
    padding-top: 56px;
}
.nav-menu {
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
    height: 56px;
    display: flex;
    justify-content: space-between;
}
.nav-ul {
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    list-style: none;
    height: 56px;
    width: 590px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(13px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 40px;
    .nav-link {
        text-decoration: none;
    }
    .link-item {
        position: relative;
        color: #C4DDFA;
        opacity: 0.35;
        transition: .5s;
        &:hover {
            color: #FFFFFF;   
            opacity: 1;
        }
        &:hover::before {
            content: '';
            display: block;
            background-color: #fff;
            border-radius: 50px;
            width: 10px;
            height: 10px;
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.nav-btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Inter bold';
    background: rgba(55, 144, 255, 0.09);
    border-radius: 13px;
    font-size: 18px;
    line-height: 130.02%;
    /* or 23px */
    
    color: #3790FF;
    width: 139px;
    height: 59px;
    border: none;
    transition: color .5s;
    &:hover {
        color: #fff;
    }
    &::before {
        content: '';
        z-index: -1;
        display: block;
        width: 0;
        height: 100%;
        background-color: #3790FF;
        transition: width .5s;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:hover::before {
        width: 100%;
    }
}
.header {
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 115px;
}
.header-block_text {
    .header-block_title {
        margin-top: 20px;
        font-family: 'SF Pro Display bold';
        font-size: 88px;
        line-height: 105%;
        /* or 92px */

        color: #FFFFFF;
        b {
            color: #3790FF;
        }
    }
    .header-block_paragraph {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        
        color: #C4DDFA;
        
        opacity: 0.39;
        margin-top: 15px;
    }
}
.block-ebla {
    display: flex;
    align-items: center;
    .eblo2 {
        position: relative;
        left: -13px;
    }
    .ebla-title {
        font-family: 'Inter bold';
        font-size: 18px;
        line-height: 22px;
        
        color: #C4DDFA;
        
        opacity: 0.4;
    }
}
.header-block_btns {
    display: flex;
    margin-top: 30px;
    .header-btn {
        cursor: pointer;
        border: none;
        height: 59px;
        width: 230px;
        font-family: 'Inter bold';
        background: #3790FF;
        border-radius: 13px;
        font-size: 18px;
        line-height: 130.02%;
        /* or 23px */
        
        color: #0D0D11;
        transition: opacity .5s;
        &:hover {
            opacity: 0.7;
        }
    }
    .header-btn_sec {
        cursor: pointer;
        border: none;
        height: 59px;
        width: 170px;
        background: linear-gradient(95.41deg, rgba(55, 144, 255, 0.1) -2.34%, rgba(55, 144, 255, 0) 173.18%);
        border-radius: 13px;
        font-weight: 600;
        font-size: 18px;
        line-height: 130.02%;
        /* or 23px */

        color: #3790FF;
        margin-left: 15px;
        transition: opacity .5s;
        &:hover {
            opacity: 0.7;
        }
    }
}
.header-block_img {
    position: absolute;
    margin-top: 30px;
    right: -110px;
}
.history_deposits-block {
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 170px;
    .people-block_wrap {
        display: flex;
        overflow: hidden;
        margin-top: 50px;
        margin-left: -10px;
    }
}
.history_deposits-block_title {
    font-family: 'SF Pro Display regular';
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    line-height: 105%;
}
.people-cards {
    margin: 0 10px;
    position: relative;
    background: #17171B;
    border-radius: 33.9506px;
    padding: 27px 0 0 0;
    height: 210px;
}
.people-cards_wrap {
    margin: auto;
    height: 100%;
    width: 80%;
}
.card-jame {
    min-width: 395px;
}
.card-dign {
    min-width: 710px;
    .people-cards_wrap {
        width: 90%;
    }
}
.card-ahmed {
    min-width: 415px;
    .people-card_bottom-btn_trade {
        width: 350px;
    }
}
.people-card_top {
    display: flex;
    align-items: center;
    height: 50px;
}
.card-name {
    font-size: 24.4444px;
    line-height: 131.02%;
    /* or 32px */
    
    color: #FFFFFF;
    margin-left: 10px;
}
.card-time {
    font-weight: 500;
    font-size: 19.0123px;
    line-height: 131.02%;
    /* identical to box height, or 25px */
    
    color: #C4DDFA;
    
    opacity: 0.39;
    margin-left: 10px;
}
.people-card_bottom-btn_trade {
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    border-radius: 16px;
    height: 64px;
    width: 315px;

    border: 2px solid transparent;
    background: 
    linear-gradient(to right, #17171B, #17171B), 
    linear-gradient(to right, #14F195 , #3790FF); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
.card-btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.people-card_bottom-btn_puls {
    background: linear-gradient(102.26deg, rgba(51, 129, 227, 0.1) 5.2%, rgba(51, 129, 227, 0) 80.15%);
    border-radius: 16px;
    width: 66px;
    height: 66px;
    font-weight: 600;
    font-size: 33.0719px;
    line-height: 131.02%;
    /* identical to box height, or 43px */
    
    
    color: #3790FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.people-card_bottom-btn_bonus {
    background: linear-gradient(285.43deg, rgba(51, 129, 227, 0.1) 18.83%, rgba(51, 129, 227, 0) 96.8%);
    border-radius: 16px;
    width: 210px;
    height: 62px;
    font-weight: 600;
    font-size: 24.4444px;
    line-height: 131.02%;
    /* identical to box height, or 32px */
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: #3790FF;
    border: none;
    cursor: pointer;
}
.btn-trade_left {
    font-weight: 600;
    font-size: 21.4444px;
    line-height: 131.02%;
    /* identical to box height, or 32px */
    
    color: #14F195;
}
.btn-trade_right {
    font-weight: 600;
    font-size: 21.4444px;
    line-height: 131.02%;
    /* identical to box height, or 32px */
    
    color: #3790FF;
}
.giveaway-block_wrap {
    max-width: 1600px;
    margin: 160px auto;
}
.giveaway-block_title {
    font-family: 'SF Pro Display regular';
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    line-height: 105%;
}
.giveaway-block_content {
    background: rgb(55,144,255);
    background: linear-gradient(90deg, rgba(55,144,255,1) 0%, rgba(69,76,255,1) 68%);
    border-radius: 30px;
    height: 230px;
    width: 100%;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.giveaway-content_cards {
    padding: 27px 0 0 17px;
    width: 24%;
    height: 156px;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;

}
.cards-child_4 {
    border: 2px solid transparent;
    background: 
    linear-gradient(to right, #4558ff, #4558ff), 
    linear-gradient(to right, rgba(255, 255, 255, 0.288) , #ffffff0e); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
.cards-child_3 {
    border: 2px solid transparent;
    background: 
    linear-gradient(to right, #4558ff, #4558ff), 
    linear-gradient(to right, rgba(255, 255, 255, 0.288) , #ffffff0e); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
.cards-child_2 {
    border: 2px solid transparent;
    background: 
    linear-gradient(to right, #3790FF, #4558ff), 
    linear-gradient(to right, rgba(255, 255, 255, 0.288) , #ffffff0e); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
.cards-child_1 {
    border: 2px solid transparent;
    background: 
    linear-gradient(to right, #3790FF, #3790FF), 
    linear-gradient(to right, rgba(255, 255, 255, 0.288) , #ffffff0e); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
.content_cards_paragraph {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
    margin-top: 10px;
}
.giveaway-img {
    position: absolute;
    right: 0;
    margin: -370px 0 0 0;
}
.rules-block_title {
    font-family: 'SF Pro Display regular';
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    line-height: 105%;
}
.rules-block_wrap {
    max-width: 1600px;
    margin: 0 auto;
}
.rules-block_content {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.rules-card {
    width: 522px;
    height: 284px;
    
    background: #17171B;
    box-shadow: 0px 87.733px 97.3418px rgba(0, 0, 0, 0.0862625);
    backdrop-filter: blur(33px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
    padding: 27px 0 0 17px;
    
    &:hover {
        background: radial-gradient(1978.37% 466.69% at -18.1% 44.89%, #3790FF 0%, #3790FF 33.57%, #3091EB 66.61%, #4579FF 100%);
        .card-title {
        }
        .card-text {
            color: rgba(255, 255, 255, 0.45);
        }
    }
}
.saif-png {
    height: 71px;
}
.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 124.02%;
    /* identical to box height, or 25px */
    
    /* —Å / white */
    
    color: #FFFFFF;
    margin-top: 20px;
}
.card-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    
    color: rgba(196, 221, 250, 0.2);
    margin-top: 15px;
}
.calculat-block_wrap {
    max-width: 1600px;
    margin:auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calculat-block_text {
    
}
.calculat-title {
    position: relative;
    font-size: 80px;
    line-height: 80px;
    
    color: #FFFFFF;
    font-family: 'HelveticaNeueCyr bold';
    &::after {
        content: url('../img/calculat-x2.png');
        display: block;
        position: absolute;
        right: -25px;
        bottom: 35px;
    }
}
.calculat-paragraph {
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    
    color: #C4DDFA;
    
    opacity: 0.39;
}
.block-calculator_content {
    background: #17171B;
    border-radius: 29px;
    width: 760px;
    height: 458px;
    padding: 52px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.calculator-content_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-top_col {
}
.top-col_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    
    color: #C4DDFA;
    
    opacity: 0.39;
}
.top-col_price-from {
    font-size: 52px;
    line-height: 99.99%;
    /* identical to box height, or 52px */
    
    color: #FFFFFF;
    font-family: 'HelveticaNeueCyr bold';
    margin-top: 10px;
}
.top-col_price-to {
    font-size: 52px;
    line-height: 99.99%;
    /* identical to box height, or 52px */
    
    color: #14F195;
    font-family: 'HelveticaNeueCyr bold';
    margin-top: 10px;
}
.calculator-content_center {
}
.deposit-range {
    width: 100%;
    position: relative;
    top: -55px;
    background-color: #3D96F4;
}
.content_center-button_wrap {
    display: flex;
    justify-content: space-between;
}
.deposit-btn {
    border: none;
    width: 63px;
    height: 56px;
    
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 131.02%;
    /* or 26px */
    
    color: #FFFFFF;
    cursor: pointer;
}
.button-active {
    background: #3790FF;
}
.calculator-content_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    
    color: #C4DDFA;
    
    opacity: 0.39;
}
.profit-result {
    font-size: 20px;
    line-height: 99.99%;
    /* identical to box height, or 20px */
    
    font-family: 'HelveticaNeueCyr bold';
    color: #3F94FE;
    margin-top: 10px;
}
.bottom-text_gradient {
    font-family: 'HelveticaNeueCyr bold';
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 99.99%;
    background-image: linear-gradient(45deg, #3F94FE, #14F195);
  
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.bottom-text_number {
    margin-top: 10px;
    font-family: 'HelveticaNeueCyr bold';
    font-size: 20px;
    line-height: 99.99%;
    /* identical to box height, or 20px */
    
    
    color: #FFFFFF;
}
.bonus-block_wrap {
    max-width: 1600px;
    margin: auto;
    margin-top: 160px;
}
.bonus-block_title {
    font-family: 'HelveticaNeueCyr bold';
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    margin: auto;
    width: 585px;
    position: relative;
    color: #fff;

    &::before {
        content: url('../img/bonus-before.svg');
        display: block;
        position: absolute;
        left: -10px;
        top: -40px;
    }
    &::after {
        content: url('../img/bonus-after.svg');
        display: block;
        position: absolute;
        right: -15px;
        bottom: -25px;
    }
}
.bonus-block_content {
    background: #17171B;
    backdrop-filter: blur(17px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 32px;
    height: 415px;
    width: 100%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 46px 0;
}
.block-content_links {
    width: 950px;
    max-width: 950px;
    height: 320px;
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 20%);
}