@import url(fonts.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter medium';
}
body {
    overflow-x: hidden;
    background-color: #0D0D11;
    width: 100%;
    height: 100%;
}
::selection {
    background-color: #3790FF;
}
.wrapper {
    padding-top: 56px;
}
.nav-menu {
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
    height: 56px;
    display: flex;
    justify-content: space-between;
}
.nav-ul {
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    list-style: none;
    height: 56px;
    width: 590px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(13px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 40px;
    .nav-link {
        text-decoration: none;
    }
    .link-item {
        position: relative;
        color: #C4DDFA;
        opacity: 0.35;
        transition: .5s;
        &:hover {
            color: #FFFFFF;   
            opacity: 1;
        }
        &:hover::before {
            content: '';
            display: block;
            background-color: #fff;
            border-radius: 50px;
            width: 10px;
            height: 10px;
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.nav-btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Inter bold';
    background: rgba(55, 144, 255, 0.09);
    border-radius: 13px;
    font-size: 18px;
    line-height: 130.02%;
    /* or 23px */
    
    color: #3790FF;
    width: 139px;
    height: 59px;
    border: none;
    transition: color .5s;
    &:hover {
        color: #fff;
    }
    &::before {
        content: '';
        z-index: -1;
        display: block;
        width: 0;
        height: 100%;
        background-color: #3790FF;
        transition: width .5s;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:hover::before {
        width: 100%;
    }
}
.header {
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 115px;
}
.header-block_text {
    .header-block_title {
        margin-top: 20px;
        font-family: 'SF Pro Display bold';
        font-size: 88px;
        line-height: 105%;
        /* or 92px */

        color: #FFFFFF;
        b {
            color: #3790FF;
        }
    }
    .header-block_paragraph {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        
        color: #C4DDFA;
        
        opacity: 0.39;
        margin-top: 15px;
    }
}
.block-ebla {
    display: flex;
    align-items: center;
    .eblo2 {
        position: relative;
        left: -13px;
    }
    .ebla-title {
        font-family: 'Inter bold';
        font-size: 18px;
        line-height: 22px;
        
        color: #C4DDFA;
        
        opacity: 0.4;
    }
}
.header-block_btns {
    display: flex;
    margin-top: 30px;
    .header-btn {
        cursor: pointer;
        border: none;
        height: 59px;
        width: 230px;
        font-family: 'Inter bold';
        background: #3790FF;
        border-radius: 13px;
        font-size: 18px;
        line-height: 130.02%;
        /* or 23px */
        
        color: #0D0D11;
        transition: opacity .5s;
        &:hover {
            opacity: 0.7;
        }
    }
    .header-btn_sec {
        cursor: pointer;
        border: none;
        height: 59px;
        width: 170px;
        background: linear-gradient(95.41deg, rgba(55, 144, 255, 0.1) -2.34%, rgba(55, 144, 255, 0) 173.18%);
        border-radius: 13px;
        font-weight: 600;
        font-size: 18px;
        line-height: 130.02%;
        /* or 23px */

        color: #3790FF;
        margin-left: 15px;
        transition: opacity .5s;
        &:hover {
            opacity: 0.7;
        }
    }
}
.header-block_img {
    position: absolute;
    margin-top: 30px;
    right: -110px;
}
.history_deposits-block {
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 170px;
    .people-block_wrap {
        display: flex;
        margin-top: 50px;
    }
}
.history_deposits-block_title {
    font-family: 'SF Pro Display regular';
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    line-height: 105%;
}
.people-cards {
    position: relative;
    background: #17171B;
    border-radius: 33.9506px;
    padding: 27px 0 0 33px;
    height: 210px;
}
.card-jame {
    width: 385px;
}
.people-card_top {
    display: flex;
    align-items: center;
    height: 50px;
}
.card-name {
    font-size: 24.4444px;
    line-height: 131.02%;
    /* or 32px */
    
    color: #FFFFFF;
    margin-left: 10px;
}
.card-time {
    font-weight: 500;
    font-size: 19.0123px;
    line-height: 131.02%;
    /* identical to box height, or 25px */
    
    color: #C4DDFA;
    
    opacity: 0.39;
    margin-left: 10px;
}
.people-card_bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    color: #fff;
    position: relative;
    background-color: #17171B;
    height: 64px;
    width: 370px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 64px;
        width: 315px;
        border-radius: 16px;
        background: linear-gradient(to left, #14F195, #3380E3);
        z-index: -1;
    }
}